@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
.body{
    font-family: 'Tektur', cursive !important;
}
.row{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.🛺🛺{
    width: 360px;
    margin: auto;
    background-color: rgb(130, 221, 130);
    overflow: hidden;
    display: block;
    align-items: center;
}
.btn{
    cursor: pointer;
    font-size: 55px;
    width:22%;
    text-align: center;
    padding: 2px;
    font-family: 'Tektur', cursive ;
}
.btn:hover{
    background-color:rgba(185, 185, 185, 0.733);
    border: 2px solid gray;
}
input{
    text-align: right;
}
.👀{
    width:90%;
    margin:10px;
    padding: 4px;
    font-size: 50px;
    font-family: 'Tektur', cursive;
}