
.n {
    width: 100px ;
    font-size: 40px;
    margin: 0;
    text-align: center;
    margin: 1px ;
    transition: all 0.5s;
    float: left;
}

input{
    font-size: 30px;
}
#n1:hover ,#n2:hover {
    width: 200px;
    height: 60px;
}
.s{
    width: 10px ;
}

@media all and (max-width: 600px) {
    body{
        color: aqua;
    }
}

.btn{
    width: 40px;
    height: 40px;
    font-size: 30px;
    clear: left;
}
